
html{
    background-color: black ;
  margin: 0;
  padding: 0;
    width: 100%;
    font-family: 'Patrick Hand', cursive !important;
}
body{
  margin: 0;
  padding: 0;
 background-color: black !important;
    /* */font-family: 'Josefin Sans', sans-serif !important;

}
/*---------------------------------------loader STARTS----------------------------------*/
.preloader{
    position: fixed;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader.fadeout{
    opacity: 0;
    transition: all 0.6s ease;
}
.preloader .box{
    width: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.preloader .box div{
    height: 15px;
    width: 15px;
    background-color:black;
    border-radius: 50%;
    border:3px ridge plum; 
  box-shadow: 0 0 10px rgba(255,255,255,0.6);
    animation: loaderani 1s ease infinite;
}
.preloader .box div:nth-child(2){
    animation-delay: 0.1s;
    
}
.preloader .box div:nth-child(3){
    animation-delay: 0.2s;
    
}
@keyframes loaderani{
    0% 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
}
/*---------------------------------------HOME STARTS----------------------------------*/
.home{
  position: relative;
  background: linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Images/portfolio.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  border-radius: 0 0 20px 20px;
  height: 100vh;
  box-shadow:  0px 15px 10px -10px plum;
  
  
}
.bannerContent{
  font-family: 'Zen Tokyo Zoo', cursive!important;
  margin: 0;
  /*placing div horizntally and vertically center*/
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /*--------------------------------------------*/
  color: whitesmoke;
  text-align: center;
  font-size: 25px;
    
}

.b1{
    font-family: 'Josefin Sans', sans-serif !important;
    padding: 5px;
  background-color: black;
  color:whitesmoke;
  border-radius: 18px;
  height: 40px;
  width: 200px;
  font-size: 17px;
  font-weight: bold;
  border:3px ridge plum; 
  box-shadow: 0 0 10px rgba(255,255,255,0.6);
   
  
}

/*---------------------------------------ABOUT------------------------------------------*/
button a{
    text-decoration: none;
    color: whitesmoke;
}
button a:hover{
    color: plum;
}

.curve{
  position:relative;
  float: right;
  
}
.curve img{
  width="auto" ;
  height="450px"
}
.celeb{
  position: absolute;
  left: 5%;
  top: 111%;
}
.one .imgpriya{
  border-radius: 30%;
  border:5px;
  border-style: ridge;
  border-color: plum;
}
.float-container {

  padding: 20px;
}

.float-child {
  width: 40%;
  float: left;
  padding: 20px;
  /*border: 2px solid red;*/
}  
.one{
  padding: 20px;
  text-align: center;
  padding-left: 270px;
  padding-right: 0px;
}

.two{
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  padding-top: 40px;
  text-align:left;
}
.b2{
  background-color: black;
  color:whitesmoke
  border: 1px ridge plum;
  border-radius: 18px;
  height: 40px;
  width: 150px;
  font-size: 17px;
  font-weight: bold;
  border:3px ridge plum; 
  box-shadow: 0 0 10px rgba(255,255,255,0.6);
}
/******************************************* EDUCATION ***************************************/
.edu{
    width: 95%;
    padding-bottom: 50px;
    border-bottom: 1px;
    border-bottom-style: ridge;
    border-bottom-color: black;
    margin-top: 370px;
   
            
}
#headin{
    margin-bottom: 100px;
    
}
.edu h1{
     border-bottom: 0.5px;
    border-bottom-style: ridge;
    border-bottom-color: black;
    margin-top: 370px;
    padding-bottom: 110px;
}
.timeline1 {
    
     color: whitesmoke;
	width:65%;
	height: 20px;
	list-style: none;
	text-align: justify;
	margin: 80px auto;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(45%, rgba(255,255,255,0)), color-stop(51%, rgba(191,128,11,1)), color-stop(57%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
	background:linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(139,102,139,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
    margin-top: 130px;
}
.timeline1:after {
    display: inline-block;
    content: "";
    width: 100%;
}
.timeline1 li {
    white-space: pre;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: plum;
	text-align: center;
	line-height: 1.2;
	position: relative;
	border-radius: 50%;
}
.timeline1 li:before {
	display: inline-block;
	content: attr(data-year);
	font-size: 26px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.timeline1 li:nth-child(odd):before {
	top: -40px;
}
.timeline1 li:nth-child(even):before {
	bottom: -40px;
}
.timeline1 li:after {
	display: inline-block;
	content: attr(data-text);
	font-size: 16px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.timeline1 li:nth-child(odd):after {
	bottom: 0;
	margin-bottom: -10px;
	transform: translate(-50%, 100%);
}
.timeline1 li:nth-child(even):after {
	top: 0;
	margin-top: -10px;
	transform: translate(-50%, -100%);
}
#edu2{
    display: none;
}

/* ---------------------------------------ABOUT TABS--------------------------------------------*/
div.row{
    --bs-gutter-x: 0rem;
    
}
.about-section .about-tabs{
    
    padding: 60px 15px 55px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}
.about-section .tab-content{
    flex:0 0 100%;
    max-width: 100%;
    display: none;
}
.about-section .tab-content.active{
    display: block;
}
.about-tabs .tab-item{
    display: inline-block;
    margin: 0 5px 10px;
    
    padding: 5px 10px;
    border: 1px ridge plum;
    box-shadow: 0 0 10px rgba(255,255,255,0.3);
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    color: whitesmoke;
    font-weight: 500;
    text-transform: capitalize;
}
.about-tabs .tab-item:hover{
    color: plum;
    border: 5px ridge plum;
    box-shadow: 0 0 10px rgba(255,255,255,0.6);
}
.about-tabs .tab-item.outer-shadow{
    border: 5px ridge plum;
    color: plum;
   
}
/*----------------------------------------------SKILL STARTS---------------------------------------------------- */

.sb{
    border-bottom: 1px;
    border-bottom-style: ridge;
    padding-bottom: 40px;
}
.flexsb{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 40px;
  

}
::selection{
  color: #fff;
  background: #6665ee;
}
.skill-bars{
    color: whitesmoke;
    margin: 10px;
    margin-left: 60px;
  padding: 25px 30px;
  width: 80%;
  background: black;
  box-shadow: 5px 5px 20px rgba(255,255,255,0.2);
  border-radius: 10px;
}
.skill-bars:nth-child(1){
    margin-left: 100px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
    border: 3px ridge plum; 
    box-shadow: 0 0 10px rgba(255,255,255,0.3);
 background: plum;
           
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html5 span{
  width: 95%;
}
.bar .progress-line.css3 span{
  width: 95%;
}
.bar .progress-line.js span{
  width: 70%;
}
.bar .progress-line.python span{
  width: 85%;
}
.bar .progress-line.java span{
  width: 80%;
}
.bar .progress-line.c span{
  width: 80%;
}
.bar .progress-line.communication span{
  width: 95%;
}
.bar .progress-line.leader span{
  width: 95%;
}

.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: whitesmoke;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: whitesmoke;
  color: black;
  padding: 1px 8px;
  font-size: 12px;
    font-weight:bold;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html5 span::after{
  content: "95%";
}
.progress-line.css3 span::after{
  content: "95%";
}
.progress-line.js span::after{
  content: "70%";
}
.progress-line.python span::after{
  content: "85%";
}

.progress-line.java span::after{
  content: "80%";
}
.progress-line.c span::after{
  content: "80%";
}
.progress-line.communication span::after{
  content: "95%";
}
.progress-line.leader span::after{
  content: "95%";
}


/*----------------------------------------------EXPERIENCE---------------------------------------------------- */
.about-section .experience{
    padding-bottom: 80px;
}
.about-section .timeline{
    margin: 0px;
    padding: 10px 170px;
    position: relative;
    margin-top: 10px;
    flex: 0 0 100%;
    max-width: 100%;
    
}
.about-section .timeline:before{
    content: '';
    width: 3px;
    left: 50%;
    height: 100%;
    background-color: plum;
    position: absolute;
   
    
}
.about-section .timeline .timeline-item:nth-child(odd){
    padding-right: calc(50% + 50px); 
    text-align: right;
}
.about-section .timeline .timeline-item:nth-child(even){
    padding-left: calc(50% + 50px); 
}
.about-section .timeline .timeline-item .timeline-item-inner{
    width:100%;
    padding: 30px;
    background: black;
    color: whitesmoke;
  box-shadow: 5px 5px 20px rgba(255,255,255,0.3);
  border-radius: 10px;
    position: relative;
}

.about-section .timeline .timeline-item .timeline-item-inner .icon{
    height: 40px;
    width: 40px;
    color: black;
    border: 5px solid plum;
    background-color: plum;
    font-size: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 18px;
    
}
.about-section .timeline .timeline-item:nth-child(odd) .icon{
    right: -70px;
}
.about-section .timeline .timeline-item:nth-child(even) .icon{
    left: -70px;
}

/*----------------------------------------------PROJECTS CERTIFICATES---------------------------------------------------- */
.project-item h1{
    margin-top: 10px;
    font-size: 27px;
}
.project-item p{
    width: 300px;
}
.project-item a{
    text-decoration: none;
    color: whitesmoke;
   
}
.project-item a:hover{
    color: plum;
}

#projects{
    justify-content: center;
    margin: 0px;
    padding: 20px;
    width:100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
}
#projects .project-item{
    
    color: whitesmoke;
    padding: 10px;
    margin: 11px;
    background: black;
   
  box-shadow: 0px 0px 12px rgba(255,255,255,0.3);
  border-radius: 10px;
    position: relative;
    text-align: center;
    
}
#projects .project-item img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
/*----------------------------------------------FOOTER---------------------------------------------------- */
.footer{
    color: gainsboro;
    background-color: rgba(139,102,139,0.5);
    margin: 0;
    padding: 0;
}
.footer p{
    padding: 0;
    margin: 0;
    font-weight: lighter;
}
.copy{
    display: flex;
    flex-flow: row;
}
.copy #connect{
    padding-left: 55%;
    font-weight: bolder;
}
#connect a{
    text-decoration: none;
    color: whitesmoke;
}
#connect a:hover{
    color: plum;
}

/*----------------------------------------------NAVIGATION---------------------------------------------------- */
.header {
  background-color: black;
  box-shadow: 2px 2px 4px 0 rgba(255,255,255,0.3);
    border-radius: 0 0 20px 20px;
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: 0px 20px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: black;
}

.header li a {
  display: block;
  padding: 10px 10px;
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  color: plum;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px;
  text-decoration: none;
}
/* logo */

.header img{
     width: 50px;
       margin: 5px;
        padding: 0;
       margin-left: 27%;
    }
/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  text-align: center;
  

}

/* menu icon */


.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: whitesmoke;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: whitesmoke;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 350px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
.header{
    z-index: 6;
}
/* 48em = 768px */

@media (min-width: 840px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 20px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
   
.header img{
 
  
  margin-left: 50px;
} 
}

/* ---------------------------------------SIDE SOCIAL MEDIA BAR--------------------------------------------*/
.wrapperz{
    margin-top: 40px;
}
 .wrapperz ul {
  list-style: none;
    padding-left: 0;
} 
.wrapperz ul li i{
    padding: 15px;
    color: aliceblue;
}
.wrapperz ul li a{
    text-decoration: none;
}
.slider p a{
    text-decoration: none;
    color: whitesmoke;
}
.wrapperz ul li {
  width: 40px;
  height:40px;
  position: relative;
  background:black;
  margin: 10px 0;
  cursor: pointer;
  border:3px ridge plum; 
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(255,255,255,0.6);
} 
.wrapperz ul li .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
} 
.wrapperz ul li i{
        padding: 9px;
        text-align: center;
    }
.wrapperz{
        position: absolute;
        left: 50px;
    }
.wrapperz{
    display: none;
}
/* ---------------------------------------SIDE SOCIAL MEDIA BAR--------------------------------------------*/
.wrapper {
  position: absolute;
position: fixed;
  margin-top: 200px;
    margin-left: 0;
    
    z-index: 5;
} 
.wrapper ul {
  list-style: none;
    padding-left: 0;
} 
.wrapper ul li i{
    padding: 15px;
    color: aliceblue;
}
.wrapper ul li a{
    text-decoration: none;
}
.slider p a{
    text-decoration: none;
    color: whitesmoke;
}
.wrapper ul li {
  width: 50px;
  height:50px;
  position: relative;
  background:black;
  margin: 10px 0;
  cursor: pointer;
  border:3px ridge plum; 
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(255,255,255,0.6);
} 
.wrapper ul li .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
} 
/*.wrapper ul li.facebook{
  background: #3b5998;
} 
.wrapper ul li.linkedin{
  background: #00aced;
} 
.wrapper ul li.instagram{
  background: #bc2a8d;
} 
.wrapper ul li.gmail{
  background:brown;
} 
.wrapper ul li.github{
  background:#2e2727;
} */
.wrapper ul li.facebook div.slider{
  background: #627aac;
} 
.wrapper ul li.linkedin div.slider{
  background: #7fd5f6;
} 
.wrapper ul li.instagram div.slider{
  background: #dd94c6;
} 
.wrapper ul li.gmail div.slider{
  background: #db4b54;
} 
.wrapper ul li.github div.slider{
  background: gray;
} 
.slider {
  content: "";
  position: absolute;
  top: 0;
  left: 51px;
  width: 0px;
  height: 40px;
  background: black;
  /*border:1px ridge plum; 
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(255,255,255,0.6);*/
  transition: all 0.5s 0.3s ease;
} 
.slider p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  line-height: 50px;
  opacity: 0;
  transition: all 0.6s ease;
} 
.wrapper ul li:hover .slider {
  width: 180px;
  transition: all 0.5s ease;
} 
.wrapper ul li:hover .slider p {
  opacity: 1;
  transition: all 1s 0.2s ease;
}



/*----------------------------------------------ARROW---------------------------------------------------- */
.arrow{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}
.arrow a{
  height: 39px;
  width: 37px;
  text-align: center;
  background: black;
  display: block;
  border:3px ridge plum; 
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(255,255,255,0.6);
}
.arrow a span{
  color: whitesmoke;
  font-size: 25px;
  line-height: 35px;
  cursor: pointer;
}  


